<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>

    <bean id="accountService" class="kz.iitu.lab1Spring.AccountService">
        <property name="dbUrl" value="jdbc:postgresql://localhost:5432/atm"/>
        <property name="dbPassword" value="atm"/>
        <property name="dbUsername" value="admin"/>
    </bean>

<!--    <bean id="account1" class="kz.iitu.lab1Spring.Account">-->
<!--        <property name="id" value="1"/>-->
<!--        <property name="pin" value="123"/>-->
<!--        <property name="cash" value="100000.0"/>-->
<!--    </bean>-->

<!--    <bean id="account2" class="kz.iitu.lab1Spring.Account">-->
<!--        <property name="id" value="2"/>-->
<!--        <property name="pin" value="234"/>-->
<!--        <property name="cash" value="150000.0"/>-->
<!--    </bean>-->

<!--    <bean id="account3" class="kz.iitu.lab1Spring.Account">-->
<!--        <property name="id" value="3"/>-->
<!--        <property name="pin" value="345"/>-->
<!--        <property name="cash" value="200000.0"/>-->
<!--    </bean>-->

<!--    <bean id="accounts" class="kz.iitu.lab1Spring.Bank">-->
<!--        <property name="dbUrl" value="jdbc:postgresql://localhost:5432/atm"/>-->
<!--        <property name="dbPassword" value="atm"/>-->
<!--        <property name="dbUsername" value="admin"/>-->
<!--    </bean>-->
</beans>
